{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <h3>Cart</h3>
    <section>
        <div class="col-12">
            <a href="" class="btn btn-outline-secondary"><i class="bi bi-arrow-left-circle-fill"></i>  Continue Shipping</a>
            <hr>
            <div class="col-lg-4 m-0">
                <h4>Item : 3</h4>
            </div>
            <div class="col-lg-4 m-0 float-end">
                <h4>Total : 3</h4>
            </div>
            <div class="col-lg-4 m-0 float-end">
                <a href="" class="btn btn-success">Checkout</a>
            </div>
        </div>
    </section>
{% endblock content %}